form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
}

.option {
  display: flex;
  flex-direction: column;
}

#outputField {
  width: 70ch;
}

#submitBtn {
width: 20ch;
}

html {
  padding-left: 20vw;
  padding-top: 10vh;
  background-color: beige;
}

input {
  background-color: whitesmoke;
}